# gradle

.gradle/
build/
out/

# idea

.idea/
*.iml
*.ipr
*.iws

# fabric

run/
minecraft/

# locales
src/main/resources/assets/ktrl/lang/*.json
!src/main/resources/assets/ktrl/lang/en_us.json
!src/main/resources/assets/ktrl/lang/eo_uy.json